
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: rgb(126, 39, 166);
}


.navbar {
    background-color: #1e293b;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #facc15;
}

.nav-links a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

.nav-links a:hover {
    color: rgb(99, 50, 205)
}

/* superstar Section */
.superstar {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #2563eb, #9333ea);
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.play-btn {
    background-color: #facc15;
    color: black;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play-btn:hover {
    background-color: #eab308;
}


.features {
    padding: 60px 20px;
    text-align: center;
}

.features h2 {
    margin-bottom: 40px;
    font-size: 32px;
}

.feature-box {
    display: inline-block;
    width: 250px;
    margin: 20px;
    padding: 20px;
    background-color: #3b1e28;
    border-radius: 10px;
}

.feature-box h3 {
    color: #facc15;
}


.footer {
    background-color: #381e3b;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}